# Example configuration file for Loadbalancer statistics


# Host and port where the syslog collector server will listen
COLLECTOR_DATA_HOST = '0.0.0.0' 
COLLECTOR_DATA_PORT = 10514

# Host and port where the syslog collector server will forward data
COLLECTOR_REMOTE_HOST = '127.0.0.1' 
COLLECTOR_REMOTE_PORT = 10515

# Host and port where the syslog aggregator server will listen
MONITOR_DATA_HOST = '0.0.0.0'
MONITOR_DATA_PORT = 10515

# Host and port where the webserver will listen
MONITOR_HTTP_HOST = '0.0.0.0'
MONITOR_HTTP_PORT = 8080

# maximum time for holding a request information
MAX_MEASURE_TIME = 60

# maximum request in the statistics buffer per group
MAX_REQUESTS = 20000

# top request row count in detail page
TOP_REQUEST_COUNT = 10

# request per sec history in seconds
RPS_HISTORY = 120

COLLECTOR_LOGFILE = "/tmp/lbstats_collector.log"
COLLECTOR_PIDFILE = "/tmp/lbstats_collector.pid"

MONITOR_LOGFILE = "/tmp/lbstats_monitor.log"
MONITOR_PIDFILE = "/tmp/lbstats_monitor.pid"
